* { margin:0; padding:0; border:0; outline:none; box-sizing:border-box; }
a { text-decoration:none; color:inherit; }
li { list-style:none; }
img { width:100%; height:auto; vertical-align:middle; }
body {
    font-size: 1rem;
    font-family: 'Be Vietnam', 'Roboto', Tahoma, Lucida Sans, Times, Arial, sans-serif;
    background-color: #0375b4;
}

main {
    /*height: 1000px;*/
    background-color: #f0f0f0;
}

.c_header {
    color: #fff;
    height: 2.6em;
    /*line-height: 1em;*/
    padding: .3em 0;
    } .c_header div {
        font-size: 2em;
        font-family: 'Dancing Script';
    } .c_header input {
        width: 20em;
        padding: .5em;
    } .c_header li {
        font-size: .7em;
        font-weight: 700;
        text-align: right;
}

.c_banner {
    width: 100%;
    height: 15em;
    display: table;
    text-align: center;
    } .c_banner h1 {
        color: #333;
        font-size: 3em;
        display: table-cell;
        vertical-align: middle;
        font-family: 'Dancing Script';
}

.c_categorias > div {
    width: 15.85%;
    overflow: hidden;
    background-color: #fff;
    } .c_categorias h2 {
        height: 2em;
        font-size: 1em;
        overflow: hidden;
        line-height: 2em;
        text-align: center;
        background-color: #ff0;
    } .c_categorias > div div {
        color: #555;
        padding: 1em;
        font-size: .7em;
    } .c_categorias > div span {
        font-weight: 700;
    } .c_categorias > div p:last-child {
        margin-top: 1em;
    } .c_categorias > div p:last-child span {
        color: #fff;
        padding: 0 .3em;
        background-color: #f00;
    }